nav {
    background-color: gold;
    text-align: center;
}

nav img {
    width: 125px;
}

.logoPokemon {
    margin: auto;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/014/022/441/small/water-pokemon-pattern-free-vector.jpg");
}

#resultados {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    background-color: darkred;
    color: gold;
    font-family: 'PokemonSolid', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 20px;
    padding-bottom: 15px;
    width: 90%;
    letter-spacing: 0.1em;
    text-align: center;
}

.card h1 {
    font-size: 30px;
}

.card p {
    font-size: 14px;
}

.numPokedex {
    padding: 3%;
    margin: auto;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('./fonts/PokemonSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nombrePokemon {
    -webkit-text-stroke: 1.5px rgb(0, 119, 255);
    padding-top: 1%;
}

.imgTipo {
    width: 66.67px;
    height: 80px;
    margin-left: 3%;
    margin-right: 3%;
}