nav {
    background-color: rgb(255, 208, 0);
    text-align: center;
}

nav img {
    width: 150px;
}

.logoPokemon {
    margin: auto;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/014/022/441/small/water-pokemon-pattern-free-vector.jpg");
}

#resultados {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    background-color: darkred;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 20px;
    padding-bottom: 15px;
    width: 90%;
}

.card h1 {
    font-size: 25px;
}

.card p {
    font-size: 14px;
}

.numPokedex {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}